CompileFlags:
  Compiler: clang
  Add:
    [
      -xc,
      -std=c23,
      -fenable-matrix,
      -pedantic,
      -Wall,
      -Wextra,
      -Wpedantic,
      -Wno-gnu,
      -Wno-gcc-compat,
      -Wno-empty-translation-unit,
    ]

Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Add:
      [
        bugprone-*,
        cert-*,
        clang-analyzer-*,
        concurrency-*,
        linuxkernel-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
      ]
    Remove:
      [
        cert-dcl37-c,
        cert-dcl51-cpp,
        bugprone-reserved-identifier,
        readability-braces-around-statements,
        readability-identifier-length,
        readability-magic-numbers,
      ]
